{% extends "layout.html" %}

{% block content %}
    <div class="container">
      <h1 class="mt-4">Sales By Manufacturer</h1>
      <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Manufacturer</th>
                  <th scope="col">30 days Sold Number</th>
                  <th scope="col">1 year Sold Number</th>
                  <th scope="col">Total Sold Number</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                </tr>
                {% endfor %}
              </tbody>
      </table>
    </div>
{% endblock %}