{% extends"layout.html" %}

{% block content %}
    <h1>View Reports</h1>
    <form action="/reports" method="POST">
        <div class="content-section">
            <div class="input-group">
                <select class="form-control" id="reports" name="reports">
                    <option value="get_SalesbyColor">Sales by Color</option>
                    <option value="get_SalesbyType">Sales by Type</option>
                    <option value="get_SalesbyManufacturer">Sales by Manufacturer</option>
                    <option value="get_GrossCustomerIncome">Gross Customer Income</option>
                    <option value="get_RepairsbyManufactureTypeModel">Repair Statistics</option>
                    <option value="get_BelowCostSales">Below Cost Sales</option>
                    <option value="get_AverageTimeinInventory">Average Time in Inventory</option>
                    <option value="get_PartsStatistics">Parts Statistics</option>
                    <option value="get_MonthlySales">Monthly Sales</option>
                </select>

                <div class="input-group-button">
                    <input class="btn btn-warning" type="submit" value="View Report">
                </div>
            </div>
        </div>
    </form>

{% endblock %}